[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
behave = "*"
allure-behave = "*"
allure-python-commons = "*"
selenium = "*"
webdriver-manager = "*"
pytruth = "*"

[dev-packages]

[requires]
python_version = "3.9"
